body, html {
    height: 100%;
    width: 100%;
}

#app {
    height: 100%;
}

.footer {
    position: sticky;
    top: 100%;
    text-align: center;
    color: #000000;
    padding: 1rem;
    max-height: 50px;
}

.height-80 {
    height: 80% !important;
}

.header-bg {
    background-color: #2a303c;
    height: 60px
}

.fs-01 {
    font-size: 1rem!important;
}
.fs-24{
    font-size: 24px;
}

.bg-menu {
    background-color: #2a303c;
}

.fs-2rem {
    font-size: 1.5rem;
}

.sidebar-menu-item:hover {
    background-color: #323a49;
}

.sidebar {
    /* height: 100%;
    position: fixed; */
    /*flex-basis: 200px; !* độ rộng của thanh sidebar *!*/
    /*flex-grow: 1; */
    position: sticky;
    top: 0;
    height: 100%;
}

.header-gray {
    background-color: #d9d9d9;
}

.position-left-25 {
    left: -25px !important;
}

.h-150 {
    min-height: 150px;
}

.mw-100 {
    min-width: 100px
}

.mw-65 {
    min-width: 65px
}
.bg-main{
    background-color: rgb(240,240,240)
}
.img-style{
    width: 20%;
    height: auto
}
.hover:hover{
    background-color: rgb(13,110,253);
}
.hover:hover .text-white-hover{
    color: white!important;
}
.border-radius-none{
    border-radius: unset!important;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}
.border-right{
    border-right: 1px solid rgba(0, 0, 0, 0.14)
}
.page-link-radius{
    border-radius: 50%!important;
}